@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;
}

div.ex1 {
    width: 100px;
    height: 100px;
    background-color: rgb(94, 204, 255);
}
div.ex1:hover {
    -webkit-animation-name: change-bg;
    -moz-animation-name: change-bg;
    -ms-animation-name: change-bg;
    -o-animation-name: change-bg;
    animation-name: change-bg;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes change-bg {
    from {
        background-color: blue;
        border: 1px solid black;
    }
    to {
        background-color: #a1ff6a;
        border: 1px solid rgb(255, 0, 0);
        border-radius: 50%;
    }
}
@-webkit-keyframes change-bg {
    from {
        background-color: blue;
        border: 1px solid black;
    }
    to {
        background-color: #a1ff6a;
        border: 1px solid rgb(255, 0, 0);
        border-radius: 50%;
    }
}
@-moz-keyframes change-bg {
    from {
        background-color: blue;
        border: 1px solid black;
    }
    to {
        background-color: #a1ff6a;
        border: 1px solid rgb(255, 0, 0);
        border-radius: 50%;
    }
}
@-ms-keyframes change-bg {
    from {
        background-color: blue;
        border: 1px solid black;
    }
    to {
        background-color: #a1ff6a;
        border: 1px solid rgb(255, 0, 0);
        border-radius: 50%;
    }
}
@-o-keyframes change-bg {
    from {
        background-color: blue;
        border: 1px solid black;
    }
    to {
        background-color: #a1ff6a;
        border: 1px solid rgb(255, 0, 0);
        border-radius: 50%;
    }
}

div.ex2 > div {
    width: 100px;
    height: 100px;
    float: left;
    margin: 40px;
}
#box1 {
    background-color: rgb(235, 255, 144);
    border: 3px solid black;
    animation-name: shape;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#box2 {
    background-color: blueviolet;
    border: 3px solid black;
    animation: rotate 3s alternate infinite;
}

@keyframes shape {
    to {
        border-color: rgb(0, 0, 255);
        border-radius: 50%;
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}