h2 {
    color: blue; /* 글자색 */
}
p {
    font-size: 14px; /* 폰트 크기 */
    line-height: 2.0; /* 줄 간격 */
}

#container {
    width: 800px; /* 너비 */
    padding: 15px; /* 안쪽 여백 */
    border: 1px solid gray; /* 테두리 */
}

.bluetext {
    color: skyblue; /* 글자색 */
}
h2.accent {
    background-color: wheat; /* 배경색 */
    color: purple; /* 글자색 */
    padding: 5px; /* 안쪽 여백 */
}