@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;
}

#container {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
}

#container div {
    width: 200px;
    border: 2px solid #000;
    background-color: #ccc;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}