@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;
}

#container {
    height: 300px;
    border: 2px solid gray;
    margin: 0 auto;
    text-align: center;
}

.pr_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pr_list li {
    position: relative;
    float: left;
    padding: 0;
    margin: 10px;
    overflow: hidden;
}

.pr_list img {
    margin: 0;
    padding: 0;
    float: left;
    z-index: 5;
}

.pr_list .caption {
    position: absolute;
    top: 200px;
    width: 300px;
    height: 100%;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 10;
}

.pr_list li:hover .caption {
    opacity: 1;
    transform: translateY(-200px);
}