.tr1 {
    width: 100px;
    height: 100px;
    background-color: #00f;
    border: 1px solid black;
    transition-property: width, height;
    transition-duration: 1s;
}

.tr1:hover {
    width: 200px;
    height: 200px;
}

.tr2 {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    transition-property: background-color, transform, width, height;
    transition-duration: 1s, 3s;
}

.tr2:hover {
    width: 200px;
    height: 200px;
    background-color: coral;
    transform: rotate(180deg);
}

h1 {
    font-size: 40px;
    text-align: center;
}