<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS 애니메이션</title>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <h1>신상품 목록</h1>
    <div id="container">
        <ul class="pr_list">
            <li>
                <img src="/image/prod1.jpg" alt="상품1">
                <div class="caption">
                    <h2>상품 1</h2>
                    <p>상세설명1</p>
                    <p>가격: 19,500원</p>
                </div>
            </li>
            <li>
                <img src="/image/prod2.jpg" alt="상품2">
                <div class="caption">
                    <h2>상품 2</h2>
                    <p>상세설명2</p>
                    <p>가격: 11,000원</p>
                </div>
            </li>
            <li>
                <img src="/image/prod3.jpg" alt="상품3">
                <div class="caption">
                    <h2>상품 3</h2>
                    <p>상세설명3</p>
                    <p>가격: 53,500원</p>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>