<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transform 함수 3</title>
    <link rel="stylesheet" href="/css/rotate.css">
</head>
<body>
    <div>
        <div class="origin1">
            <div class="rotate1">
                <img src="/image/fruit.jpg" alt="">
            </div>
        </div>
        <div class="origin1">
            <div class="rotate2">
                <img src="/image/fruit.jpg" alt="">
            </div>
        </div>
    </div>
    <div>
        <div class="origin2">
            <div class="rotate_x">
                <img src="/image/fruit.jpg" alt="">
            </div>
        </div>
        <div class="origin2">
            <div class="rotate_y">
                <img src="/image/fruit.jpg" alt="">
            </div>
        </div>
        <div class="origin2">
            <div class="rotate_z">
                <img src="/image/fruit.jpg" alt="">
            </div>
        </div>
        <div class="origin2">
            <div class="rotate_xyz">
                <img src="/image/fruit.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html>