<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transition 2</title>
    <link rel="stylesheet" href="/css/tr2.css">
</head>

<body>
    <div id="ex">
        <div class="ease">ease</div>
        <div class="linear">linear</div>
        <div class="ease-in">ease-in</div>
        <div class="ease-out">ease-out</div>
        <div class="ease-in-out">ease-in-out</div>
    </div>
    <div id="ex1">
        <div id="no-delay" class="box1"><p>no-delay</p></div>
        <div id="delay" class="box1"><p>delay</p></div>
    </div>
</body>

</html>