.font {
    font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;
    font-size: 1em;
    /* em, ex, px, pt */
    font-weight: normal;
    /* bold, bolder, lighter, 100~900 */
    font-style: normal;
    /* italic, oblique */
    font: font-style, font-variant, font-weight, font-size/line-height, font-family;
    /* font-size, font-family는 반드시 포함해야 하고 순서를 지켜야 한다. */
}

.text {
    color: red;
    /* rgb, rgba, 16진수 */
    text-align: left;
    /* right, center, justify(-all), start, end */
    text-decoration-color: black;
    text-decoration-line: none;
    /* underline, overline, line-through, blink */
    text-decoration-style: solid;
    /* double, dotted, dashed, wavy */
    text-decoration-thickness: auto;
    /* from-font, em, ex, px, pt, % */
    text-decoration: 2px solid black underline;
    /* 속성 순서 상관없이 쓸 수 있다. */
    text-transform: none;
    /* uppercase, lowercase */
    text-shadow: 1px 1px 2px black;
    /* offset-x offset-y blur-radius color */
    line-height: 1.0;
    letter-spacing: 5px;
    word-spacing: 5px;
}