h1 {
    font-size:2rem;  
    margin-bottom:20px ;
  }

  .clicked {
    background-color:yellow;
  }

  #profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 5px -2px rgb(102, 102, 102);
  }

  #desc {
    margin: 10px 20px;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.8;
  }

  .user {
    color: blueviolet;
  }

  .blue-italic {
    background-color: #8ddfff;
    font-style: italic;
  }