<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="jieun">
    <title>메인</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <h1>프론트엔드 웹 개발</h1>
    <div>
        <p>웹 개발의 기본은 html5, CSS입니다.</p>
        <p>JavaScript는 <span>html, CSS</span>와<br>다른 구조의 언어입니다.</p>
        <img src="./image/cat1.jpg" alt="고양이 이미지">
    </div>
    <div>
        <h2>사용자 입력 화면</h2>
        <input type="text">
        <input type="text" value="장지은" disabled>
        <input type="text" placeholder="이름을 입력하세요!">
    </div>
    <div>
        <h2>체크박스</h2>
        <label>
            <input type="checkbox" checked> 사과
        </label>
        <label>
            <input type="checkbox"> 바나나
        </label>
    </div>
    <div>
        <h2>옵션박스</h2>
        <label>
            <input type="radio" name="ffa"> 사과
        </label>
        <label>
            <input type="radio" name="ffa"> 바나나
        </label>
    </div>
    <div>
        <h3>과일 이름</h3>
        <ul>
            <li>사과</li>
            <li>배</li>
            <li>수박</li>
            <li>오렌지</li>
        </ul>
    </div>
    <div>
        <h2>웹 페이지</h2>
        <a href="https://www.naver.com">네이버</a>
        <a href="https://www.google.com" target="_blank">Google</a>
    </div>
</body>
</html>