<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS3 애니메이션</title>
    <link rel="stylesheet" href="/css/perspective.css">
</head>
<body>
    <h4>원본 이미지</h4>
    <div>
        <img src="/image/sunset.jpg" alt="">
    </div>
    <div class="rotate_x">
        <h4>perspective 속성 없는 애니메이션</h4>
        <div id="no_pers">
            <img src="/image/sunset.jpg" alt="">
        </div>
    </div>
    <div class="rotate_x">
        <h4>perspective 속성 적용 애니메이션</h4>
        <div id="pers">
            <img src="/image/sunset.jpg" alt="">
        </div>
    </div>
</body>
</html>