<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transform 함수 2</title>
    <link rel="stylesheet" href="/css/scale.css">
</head>
<body>
    <div class="origin">
        <div class="scale_x">
            <img src="/image/bus.jpg" alt="">
        </div>
    </div>
    <div class="origin">
        <div class="scale_y">
            <img src="/image/bus.jpg" alt="">
        </div>
    </div>
    <div class="origin">
        <div class="scale_xy">
            <img src="/image/bus.jpg" alt="">
        </div>
    </div>
</body>
</html>