<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transform 함수 1</title>
    <link rel="stylesheet" href="/css/translate.css">
</head>
<body>
    <div class="origin">
        <p>x축으로 이동</p>
        <div class="move_x">
            <img src="/image/bus.jpg" alt="">
        </div>
    </div>
    <div class="origin">
        <p>y축으로 이동</p>
        <div class="move_y">
            <img src="/image/bus.jpg" alt="">
        </div>
    </div>
    <div class="origin">
        <p>xy축으로 이동</p>
        <div class="move_xy">
            <img src="/image/bus.jpg" alt="">
        </div>
    </div>
</body>
</html>